nav {
   display: flex;
   flex-direction: row; 
   justify-content: start;
   align-items: center;
}

nav > a {
    border: 1px solid green;
    background-color: greenyellow;
    color: black;
    padding: 5px;
}
