<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}" />
</head>
<body>
    <header th:replace="~{fragments/base.html :: header}"></header>
    <p>Dashboard</p>
    <div class="task" th:each="task : ${tasks}">
        <p>ID: <span th:text="${task.id}">Task id</span></p>
        <p>Description: <span th:text="${task.description}">Task Description</span></p>
        <p>Status: <span th:text="${task.status}">Status</span></p>
        <form th:action="@{'/api/tasks/complete/' + ${task.id}}" method="post">
            <button>Complete</button>
        </form>
    </div>

    <footer th:replace="~{fragments/base.html :: footer}"></footer>


    <script th:src="@{/js/tasks.js}"></script>
    <script th:replace="~{fragments/base.html :: base-script}"></script>
</body>
</html>