<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
</head>
<body>

    <header th:replace="~{fragments/base.html :: header}"></header>

    <div class="container">
        <div th:each="user : ${users}">
            <p>ID: <span th:text="${user.id}">Task id</span></p>
            <p>username: <span th:text="${user.username}">username</span></p>
            <p>password: <span th:text="${user.password}">password</span></p>
            <ul>
                <p>Roles:</p>
                <li th:each="role : ${user.roles}"><span th:text="${role}">role</span></li>
            </ul>
        </div>
    </div>
    
    <footer th:replace="fragments/base.html :: footer"></footer>
    
</body>
</html>