<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}" />
</head>
<body>
    <header th:replace="~{fragments/base.html :: header}"></header>
    <h1>Welcome, <span th:text="${user.username}"></span></h1>
    <p>Your credentials:</p>
    <p>username: "<span th:text="${user.username}"></span>"</p>
    <p>password: "<span th:text="${user.password}"></span>"</p>
    <footer th:replace="~{fragments/base.html :: footer}"></footer>
</body>
</html>